.page {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}




.pagefive {
  width: 100%;
  height: 100%;
  background-color: #f2efe9;
  padding-top: 80px;
}




.up {
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  height: 247.98px;
  margin-bottom: 30px;
}
.rightup {
  margin: 0;

  width: 53%;
  margin-right: 0px;
}
p {
  text-align: left;
  line-height: 24px;
  text-justify: inter-word;
  width: 90%;

  line-height: 1.6;
  margin-bottom: 20px;
}

.leftup {
  width: 44%;
  font-size: 50px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  margin-right: 20px;
}
.leftdown {
  width: 50%;
}

button {
  background-color: #45b1ff;

  width: 145px;
  padding: 16px 16px 16px 16px;
  font-size: medium;
  font-weight: 600;
  border-style: none;
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 3px;
}
.pe {
  font-size: 11px;
  font-weight: lighter;
}

.down {
  width: 100%;
  height: 90%;
  border-width: 5px;
  border-color: blueviolet;
  border-style: solid;
}

.downup {
  width: 100%;
  height: 568px;
  border-width: 5px;
  border-color: aqua;
  border-style: solid;
  display: grid;
  grid-template-rows: 276px 276px;
  grid-template-columns: 376px 376px 376px;
  gap: 1em;
  grid-template-areas:
    "box-1 box-2 box-3"
    "box-1 box-4 box-5";
}
.pic1{


    background-image: url(https://media.kit.com/images/pages/home/end-section/nathan-creators-group.jpg?q=75&fm=webp&auto=format&fit=facearea&crop=faces&facepad=7&w=768&h=1150);
    background-repeat:  no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.pic4{
    
    background-image: url(https://media.kit.com/images/pages/home/end-section/anne-laure-le-cunff_austin-church.jpg?q=75&fm=webp&auto=format&w=768&h=1150);
    background-repeat:  no-repeat;
    background-size: cover;
    border-radius: 12px;



}

.downdown {
  width: 100%;
  height: 1282.17px;
  border-width: 5px;
  border-color: aqua;
  border-style: solid;
}
