




.material-symbols-outlined {

color: gold;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.page {
  margin: 0;

}


.mil{

   font-size: 80px;
   /* Uses your uploaded font! */
  font-weight: 900;

  color: #45b1ff;

}

.pagefive {


    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f2efe9;
  padding-top: 80px;
}




.up {
  display: flex;
  justify-content: center;
  
  width: 100%;
  height: 247.98px;
  margin-bottom: 50px;
}
.rightup {
  margin: 0;
  
  width: 53%;
  margin-right: 0px;
}
p {
  text-align: left;
  line-height: 24px;
  text-justify: inter-word;
  width: 94%;
  font-weight: 100;

  line-height: 1.6;
  margin-bottom: 20px;
}

.leftup {
  width: 44%;
  font-size: 45px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  
  margin-left: 20px;
  

  margin-right: 20px;
}
.leftdown {
  width: 50%;
}

button {
  background-color: #45b1ff;

  width: 145px;
  padding: 16px 16px 16px 16px;
  font-size: medium;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 3px;
}
.pe {
  font-size: 11px;
  font-weight: 100;
}

.down {
  width: 100%;
  height: 90%;
  

}

.downup {
  width: 100%;
  height: 568px;

  
  display: grid;
  justify-content: center;
  grid-template-rows: 276px 276px;
  grid-template-columns: 376px 376px 376px;
  gap: 1em;
  grid-template-areas:
    "box-1 box-2 box-3"
    "box-1 box-4 box-5";
}
.pic1{


    background-image: url(https://media.kit.com/images/pages/home/end-section/nathan-creators-group.jpg?q=75&fm=webp&auto=format&fit=facearea&crop=faces&facepad=7&w=768&h=1150);
    background-repeat:  no-repeat;
    background-size: cover;
    border-radius: 12px;
}

.pic2{

    display: flex;
   color: #45b1ff;
    flex-direction: column;
      justify-content:space-around;
    background-color: #1f1f1f;
     border-radius: 12px;

     padding : 30px 32px 40px 32px ;
}
.pic4{
    
    background-image: url(https://media.kit.com/images/pages/home/end-section/anne-laure-le-cunff_austin-church.jpg?q=75&fm=webp&auto=format&w=768&h=1150);
    background-repeat:  no-repeat;
    background-size: cover;
    border-radius: 12px;



}
.pic3{

     background-image: url(https://media.kit.com/images/pages/home/end-section/doc-williams.jpg?q=75&fm=webp&auto=format&w=808&h=798);
    background-repeat:  no-repeat;
    background-size: cover;
    border-radius: 12px;

}

.downdown {
  width: 95%;
  height: 1282.17px;
 border-radius: 1.5%;
  margin-top: 30px;
  padding: 8px;
  background-color: #1f1f1f;
 padding-top: 100px;
  margin-bottom: 40px;
}


.downdownup{
   display: flex;

   align-items: center;
   padding-top: 300px;
   flex-direction: column;
   align-items: center;
   background-color: #1f1f1f;
   height: 50%;
border-bottom: 40%;
border-radius: 10px 10px 0 0;
padding:0 20px 0 20px ;

}

.downdowndown{
   background-image: url(https://media.kit.com/images/pages/home/end-section/kit-broadcast-edit.png?q=72&fm=webp&auto=format&w=2167&h=1253);
   height: 50%;
     background-repeat:  no-repeat;
    background-size: cover;
    background-color: #1f1f1f;
    border-radius: 0 0 20px 20px;
padding:0 20px 0 20px ;



}


    div {
    font-family: 'KitSans', sans-serif; 
    font-weight: 500;
    color: rgb(30, 30, 30);
    
   
  
    text-justify: inter-word;
    line-height: 1.6;
    
   
    hanging-punctuation: allow-end; 
}

img{

  width: 20px;
  height: 20px;
}

.profiles{
  display: inline-block;
  



}
#pro{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  position: absolute;
   border-color:#1e1f1f ;
  border-style: solid;
  border-width: 4px;
}

#pro:active{

  border-color:#f2ba41 ;
  border-style: solid;
  border-width: 4px;


}

#pro:focus{

  border-color:#f2ba41 ;
  border-style: solid;
  border-width: 4px;


}
.profile1{

    background-image: url(https://media.kit.com/images/pages/home/n-vora.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);
    z-index: 6;
    left:485px;
}
.profile2{
  background-image: url(https://media.kit.com/images/pages/home/k-bourgoin.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);
  z-index: 5;
  left:525px;
}

.profile3{
   background-image: url(https://media.kit.com/images/pages/home/l-yeo.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);
    z-index:4;
    left:565px;
  
  }
 

.profile4{
   background-image: url(https://media.kit.com/images/pages/home/e-shleyner.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);
     z-index: 3;
     left:605px
}
.profile5{
   background-image: url(https://media.kit.com/images/pages/home/w-manney.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);

     z-index: 2;
     left:645px
  }

.profile6{
   background-image: url(https://media.kit.com/images/pages/home/p-flynn.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);
    z-index: 1;
    left:685px
}
