.material-symbols-outlined {
  color: gold;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.page {
  margin: 0;
}

.mil {
  font-size: 80px;
  /* Uses your uploaded font! */
  font-weight: 900;

  color: #45b1ff;
}

.pagefive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f2efe9;
  padding-top: 80px;
}

.up {
  display: flex;

  justify-content: center;

  width: 100%;
  height: 247.98px;
  margin-bottom: 50px;
}
.rightup {
  margin: 0;

  width: 53%;
  margin-right: 0px;
}
.p {
  text-align: left;
  line-height: 24px;
  text-justify: inter-word;
  width: 94%;
  font-weight: 100;

  line-height: 1.6;
  margin-bottom: 20px;
}

.leftup {
  width: 44%;
  font-size: 45px;
  font-weight: 900;
  display: flex;
  flex-direction: column;

  margin-left: 20px;

  margin-right: 20px;
}
.leftdown {
  width: 50%;
}

.button {
  background-color: #45b1ff;
  width: 145px;
  padding: 16px 16px 16px 16px;
  font-size: medium;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 3px;
}
.pe {
  font-size: 11px;
  font-weight: 100;
}
.pe2 {
  font-size: 11px;
  font-weight: 100;
  color: #f2efe9;
  margin-top: 10px;
  display: flex;
}

.down {
  width: 100%;
  height: 90%;
}

.downup {
  width: 100%;
  height: fit-content;

  display: grid;
  justify-content: center;
  grid-template-rows: 276px 276px;
  grid-template-columns: 30% 30% 30%;
  gap: 1em;
  grid-template-areas:
    "box-1 box-2 box-3"
    "box-1 box-4 box-5";
}
.pic1 {
  background-image: url(https://media.kit.com/images/pages/home/end-section/nathan-creators-group.jpg?q=75&fm=webp&auto=format&fit=facearea&crop=faces&facepad=7&w=768&h=1150);
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 12px;
  grid-area: box-1;
}

.pic2 {
  display: flex;
  color: #45b1ff;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1f1f1f;
  border-radius: 12px;

  padding: 30px 32px 40px 32px;

  grid-area: box-2;
}

.pic5 {
  display: flex;
  color: #45b1ff;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1f1f1f;
  border-radius: 12px;

  padding: 30px 32px 40px 32px;

  grid-area: box-5;
}
.pic4 {
  background-image: url(https://media.kit.com/images/pages/home/end-section/anne-laure-le-cunff_austin-church.jpg?q=75&fm=webp&auto=format&w=768&h=1150);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;

  grid-area: box-4;
}

.pic3 {
  background-image: url(https://media.kit.com/images/pages/home/end-section/doc-williams.jpg?q=75&fm=webp&auto=format&w=808&h=798);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  grid-area: box-3;
}

.downdown {
  width: 95%;
  height: fit-content;
  border-radius: 1%;
  margin-top: 30px;
  padding: 8px;
  padding-top: 40px;
  background-color: #1f1f1f;
  padding-top: 30px;
  margin-bottom: 40px;
}

.downdownup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  height: 47%;
  border-bottom: 40%;
  border-radius: 10px 10px 0 0;
  padding: 40px 20px 0 20px;
}

.downdowndown {
  background-image: url(https://media.kit.com/images/pages/home/end-section/kit-broadcast-edit.png?q=72&fm=webp&auto=format&w=2167&h=1253);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1f1f1f;
  border-radius: 0 0 20px 20px;
  padding: 0 20px 0 20px;
}

.imgach {
  width: 20px;
  height: 20px;
}

.profiles {
  display: inline-block;
}
.pro {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  margin-bottom: 15px;
  position: absolute;
  border-color: #1e1f1f;
  border-style: solid;
  border-width: 4px;
}
.pro:active {
  border-color: #f2ba41;
  border-style: solid;
  border-width: 4px;
}

.pro:focus {
  border-color: #f2ba41;
  border-style: solid;
  border-width: 4px;
}
#profile1 {
  background-image: url(https://media.kit.com/images/pages/home/n-vora.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);
  z-index: 6;
  left: 40.7%;
}
#profile2 {
  background-image: url(https://media.kit.com/images/pages/home/k-bourgoin.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);
  z-index: 5;
  left: 43.5%;
}

#profile3 {
  background-image: url(https://media.kit.com/images/pages/home/l-yeo.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);
  z-index: 4;
  left: 46.4%;
}

#profile4 {
  background-image: url(https://media.kit.com/images/pages/home/e-shleyner.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);
  z-index: 3;
  left: 49.2%;
}
#profile5 {
  background-image: url(https://media.kit.com/images/pages/home/w-manney.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);

  z-index: 2;
  left: 52%;
}

#profile6 {
  background-image: url(https://media.kit.com/images/pages/home/p-flynn.jpg?q=40&fm=webp&auto=format&fit=facearea&facepad=3&crop=faces%2Cedges&w=200&h=200);
  z-index: 1;
  left: 54.8%;
}
.brand {
  color: #f2efe9;
  font-size: 80px;
  font-weight: 800;

  line-height: 1.5;
  font-stretch: condensed;
  transform: scaleY(1.1);
}
.brand2 {
  color: #f2efe9;
  font-size: 14px;
  font-weight: 100;
}
.con {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button2 {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.footer {
  height: 1500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.upfooter {
  display: flex;
  justify-content: space-around;
  height: 50%;
  gap: 40px;
  margin-bottom: 140px;
}

.linksach {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  width: 50%;
}

.footerlink {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.footerlink {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
}

.linkTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #f2efe9;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .title1{


    width: 400px;

  }
  .rightup{
    width: 90%;
    margin-left: 20px;
  }
  .up {
    flex-direction: column;

    width: 100%;
    height: fit-content;
  }
  .leftup {
    font-size: 40px;
  }
  .downdowndown {
    height: 600px; /* Reduced from 1000px so it takes up less room */
    width: 90%;
    margin: 0 auto; /* Centers the container */

    /* THE FIX: */

    background-size: 60%; /* Makes the image only take up 80% of the box */
    background-repeat: no-repeat;
    background-position: center bottom; /* Keeps it centered and at the bottom */

    /* This prevents it from sliding under the text */
  }
  .downdownup {
    height: fit-content;
  }

  .downup {
    height: fit-content;
    grid-template-rows: 476px 476px 376px 376px 376px;
    grid-template-columns: 90%;
    display: grid;
    grid-template-areas:
      "box-1 "
      "box-1"
      "box-5"
      "box-2"
      "box-4"
      "box-3" !important;
    margin-top: 200px !important;
  }
  .footer {
    height: 1500px;
  }

  .pic1 {
    grid-area: box-1;
    object-fit: cover;
    object-position: top;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .pic2 {
    grid-area: box-2;
  }
  .pic4 {
    grid-area: box-4;
  }

  .pic3 {
    grid-area: box-3;
  }

  .pic5 {
    grid-area: box-5;
  }
  .footer {
    height: fit-content;
  }

  .upfooter {
    flex-direction: column;
    justify-content: start;
    padding-left: 30px;
  }

  .downfooter {
    display: flex;
    justify-content: space-between;
    width: fit-content;
  }
  .t7t {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .downdowndown {
    background-size: cover; /* Scales the image to fill the box without stretching */
    background-position: center; /* Keeps the people in the middle of the frame */
    background-repeat: no-repeat;
  }
}
