





.page {
  margin: 0;
   font-family: 'KitSans', sans-serif; /* Uses your uploaded font! */
}


.mil{

   font-size: 80px;
  font-family: 'KitSans', sans-serif; /* Uses your uploaded font! */
  font-weight: 900;

}

.pagefive {


    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f2efe9;
  padding-top: 80px;
}




.up {
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  height: 247.98px;
  margin-bottom: 50px;
}
.rightup {
  margin: 0;

  width: 53%;
  margin-right: 0px;
}
p {
  text-align: left;
  line-height: 24px;
  text-justify: inter-word;
  width: 90%;

  line-height: 1.6;
  margin-bottom: 20px;
}

.leftup {
  width: 44%;
  font-size: 50px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  
    
  margin-right: 20px;
}
.leftdown {
  width: 50%;
}

button {
  background-color: #45b1ff;

  width: 145px;
  padding: 16px 16px 16px 16px;
  font-size: medium;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 3px;
}
.pe {
  font-size: 11px;
  font-weight: 100;
}

.down {
  width: 100%;
  height: 90%;
  

}

.downup {
  width: 100%;
  height: 568px;

  
  display: grid;
  justify-content: center;
  grid-template-rows: 276px 276px;
  grid-template-columns: 376px 376px 376px;
  gap: 1em;
  grid-template-areas:
    "box-1 box-2 box-3"
    "box-1 box-4 box-5";
}
.pic1{


    background-image: url(https://media.kit.com/images/pages/home/end-section/nathan-creators-group.jpg?q=75&fm=webp&auto=format&fit=facearea&crop=faces&facepad=7&w=768&h=1150);
    background-repeat:  no-repeat;
    background-size: cover;
    border-radius: 12px;
}

.pic2{

    display: flex;
   color: #45b1ff;
    flex-direction: column;
      justify-content:space-around;
    background-color: #1f1f1f;
     border-radius: 12px;

     padding : 30px 32px 40px 32px ;
}
.pic4{
    
    background-image: url(https://media.kit.com/images/pages/home/end-section/anne-laure-le-cunff_austin-church.jpg?q=75&fm=webp&auto=format&w=768&h=1150);
    background-repeat:  no-repeat;
    background-size: cover;
    border-radius: 12px;



}
.pic3{

     background-image: url(https://media.kit.com/images/pages/home/end-section/doc-williams.jpg?q=75&fm=webp&auto=format&w=808&h=798);
    background-repeat:  no-repeat;
    background-size: cover;
    border-radius: 12px;

}

.downdown {
  width: 100%;
  height: 1282.17px;
  
  
}


    div {
    font-family: 'KitSans', sans-serif; /* Uses your uploaded font! */
    font-weight: 500;
    color: rgb(30, 30, 30);
    
    /* The alignment settings you wanted */
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
    
    /* This helps punctuation "hang" to make the edge look straighter */
    hanging-punctuation: allow-end; 
}

