/* 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/*
body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #F2EFE9;

} */


.features{
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    width: 100%;
    padding: 60px 20px;
    background-color: #F2EFE9;
}


.features-content{
    max-width: 1100px;
    margin: 128px 200px;
    text-align: center;
}

.features-content-header{
    max-width: 1100px;
    padding: 0 10px;
}

.features-content-header-text h2 {
    padding: 0 20px;
    font-size: 50px;
    font-weight: 1000;
    color: #1e1e1e;
    line-height: 1.1;
    max-width: 1100;
    margin-bottom: 30px;
}


.features-content-header-text-bot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


.features-header-bot-but{
    display: inline-block;
    padding: 14px 16px;
    border-radius: 15px;
    background: #44B1FF;
    color: #1E1E1E;
    text-decoration: none;
}
#a-span{
    font-size: 16px;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    font-weight: 700;
}
.header-bot-but:hover {
    background: #93d2ff;
}


.features-header-text {
    font-size: 12px;
    color: #555;
}


@media (max-width: 600px) {
    section {
        padding: 40px 15px;
    }
} 












