


.features{
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    width: 100%;
    padding: 60px 0px;
    padding: 60px 0px; 
    background-color: #F2EFE9;
}


.features-content{
    max-width: 1100px;
    margin: 128px 200px;
    text-align: center;
}

.features-content-header{
    max-width: 1100px;
    padding: 0 10px;
    justify-content: center;
    justify-items: center;
}

.features-content-header-text h2 {
    padding: 0 20px;
    font-size: 50px;
    font-weight: 1000;
    color: #1e1e1e;
    line-height: 1.1;
    max-width: 1100;
    margin-bottom: 30px;
    justify-content: center;
    justify-items: center;
}


.features-content-header-text-bot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: center;
    justify-items: center;
} 


.features-header-bot-but{
    display: inline-block;
    padding: 14px 16px;
    border-radius: 15px;
    background: #44B1FF;
    color: #1E1E1E;
    text-decoration: none;
    justify-content: center;
    justify-items: center;
}
#a-span{
    font-size: 16px;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    font-weight: 700;
    justify-items: center;
    justify-content: center;
}
.header-bot-but:hover {
    background: #93d2ff;
}


.features-header-text {
    margin-top: 0px ;
    text-align: center;
    font-size: 12px;
    color: #555;
    justify-content: center;
    justify-items: center;

}


@media (max-width: 600px) {
    section {
        padding: 40px 15px;
    }
} 
.features-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap : 2em;
} 

.features-Grid{
    padding: 2em;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
    text-align: center;
} 











