.top-view-items p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}

.top-view-items {
    padding-left: 0;
    padding-top: 0;
    color: black;
    
}

.information {

    font-size: 52px;
    font-weight: 900;
    line-height: 1.1;
    margin: 0 0 30px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    max-width: max-content;

}

h6 {
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0 0 0;
}

button {
    padding: 12px 24px;
    height: 48px;
    width: 150px;
    border-radius: 8px;
    background-color: #45b1ff;
    
    border: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600; 
}
