.h-title {
  font-size: 3.5em;
  font-weight: bold;
  color: #1e1e1e;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 60px;
}

.h-carousel {
  max-width: 100vw;
  overflow-x: auto;
  display: flex;
  gap: 28px;
  width: 100%;
  margin-bottom: 90px;
  padding: 20px;
}
/* 3bd el rzza9 */
.h-carousel::-webkit-scrollbar {
  display: none;
}
/* 3nd el rzza9 */
.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: auto;
  will-change: transform;
  animation: spin 260s linear infinite;
}
/* 3bde3l rza9 */
.h-carousel:hover .group {
  animation-play-state: paused;
  cursor: grab;
}
.h-carousel-item {
  display: flex;
  max-width: 187px;
  flex-direction: column;
  gap: 16px;
  align-self: flex-start;
}

@keyframes spin {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.h-carousel-image {
  width: 187px;
  height: 187px;
  border-radius: 4px;
}

.h-carousel-text {
  max-width: 100%;
  color: #1e1e1e;
}

.h-carousel-name {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.375rem;
}

.h-carousel-role {
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.1;
  color: #1e1e1e;
  font-weight: 400;
  margin-bottom: 0;
}

.h-highlight {
  color: var(--color-primary);
  font: var(--font-title);
  display: inline-block;
  position: absolute;
  overflow: hidden;
  vertical-align: bottom;
  min-width: 10px;
}

.h-highlight-text {
  display: inline-block;
  animation: slideUp 0.25s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.h-highlight-text.exit {
  animation: slideUpExit 0.25s ease-out forwards;
}

@keyframes slideUpExit {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.h-text {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #1e1e1e;
  font-weight: 400;
  margin-bottom: 15px;
  max-width: 720px;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
}

.h-cta-container {
  margin: auto;
  width: fit-content;
}

.h-cta {
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  color: rgb(30, 30, 30);
  background-color: var(--color-primary);
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 14px;
  border-radius: 12px;
  width: max-content;
}

.h-cta:hover {
  background-color: #a2d1f1;
}

.h-note {
  display: block;
  font-size: 0.75rem;
  color: #1e1e1e;
  text-align: center;
  font-weight: 400;
}
