
 @font-face {
    font-family: 'KitSans';
    /* Replace the filename below with your exact woff2 filename for 'Medium' */
    src: url('fonts/92daa4d0098aa288-s.p.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

